main
    margin auto

.hero
    background-color: rgb(228, 219, 219)
    border: 1px solid black
    margin: auto
    max-width 600px
    padding: 10px
    display flex
    flex-direction: column
    justify-content: center
    align-content: center
    gap 10px

    .nadpis
        text-align: center
    
    .nabidka
        display: flex
        flex-direction: column
        gap: 10px


table
    border: 1px solid black
    margin: 24px auto
    background-color: rgb(248, 214, 214)
    width: 620px

    th
        padding 5px
        text-align: center
    
        